*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

.container{
  width: 80%;
  margin: auto;
}

/* UTILITY CLASS */
.blue{
  background: #0c325a;
}
.green{
  background: #7cbb02;
}
.grey{
  background: #d3d3d3
}
.fl{
  float: left;
}

.navbar::after{
  content: "";
  display: table;
  clear: both;
}

.navbar{
  height: 75px;
}

.navbar a{
  line-height: 75px;
  font-weight: 300;
  font-size: 11px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  margin: 0 8px;
}
.nav_logo{
  width: 15%;
}
.nav_logo img{
  line-height: 75;
  margin-top: 11px;
}
.nav_index{
  width: 55%;
  padding: 0 20px;
}
.nav_index a:hover{
  color: orange;
}
.nav_login{
  width: 30%;
  text-align: right;
}
.login{
  border: 1px solid white;
}


.button{
  border-radius: 5px;
  padding: 10px 10px;
}


.hero_ban{
  position: relative;
  height: 475px;
}

.hero_title{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  width: 50%;
}

.hero_title h1{
  margin-bottom: 50px;
  font-size: 40px;
  font-weight: 500;
}
.hero_title a{
  font-size: 12px;
  text-decoration: none;
  color: white;
  padding: 15px 20px;
}

.bigline{
  height: 150px;
  text-align: center;
  position: relative;
}

.bigline_text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}




.first_line::after, .second_line::after{
  content: "";
  display: table;
  clear: both;
}

.c4{
  height: 500px;
  width: 33.3%;
  background-color: lightgreen;
  border: 1px solid black;
}

.c6{
  height: 500px;
  width: 50%;
  background-color: lightblue;
  border: 1px solid black;
}


#site_header{
  height: 550px;
  background-image: url('../img/banner_header.png');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 120% 110%;
}

#site_content{
  height: 1150px;
  width: 100%;
}

#site_footer{
  height: 150px;
}
